# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.vs/Action Dice/v15/Server/sqlite3
/.vs/Action Dice/v16/Server/sqlite3
/.vs/Action-Dice/FileContentIndex/6b676a0e-9dac-4f15-862e-0d6602800b43.vsidx
/.vs/slnx.sqlite
*.vsidx
/.vs/Action-Dice/CopilotIndices/17.13.433.20974/CodeChunks.db
*.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/Action-Dice/v17/DocumentLayout.backup.json
/.vs/Action-Dice/v17/.wsuo
/.vs/Action-Dice/v17/DocumentLayout.json
/.vs/Action-Dice/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
/.vs/Action-Dice/CopilotIndices/17.13.433.20974/SemanticSymbols.db
/.vs/Action-Dice/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
/.vs/Action-Dice/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
/.vs/Action-Dice/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
